@{
Layout = "_Layout";
}
  <h2>Venue Details</h2>
  <!-- correct["bandVenues"]? -->
  @if(Model["bandVenues"].Count != 0)
  {
    <h5 ><strong>@Model["selectedVenue"].GetVenueName()</strong></h5>
    @if (@Model["bandVenues"].Count !=0)
    {
      <h4>Venues:</h4>
      <ul>
        @foreach (var venue in @Model["bandVenues"])
        {
          <li>@venue.GetVenueName()</li>
        }
      </ul>
    }
  }
  <h4> Add venue to this band</h4>
  <form action='/venues/@Model["selectedVenue"].GetId()/bands/new' method='post'>
    <label for='band-id>Select a band</label'>
    <select id='band-id' name='band-id' type='text'>
      @foreach (var band in @Model["allBands"])
      {
        <option value='@band.GetId()'>@band.GetBandName()</option>
      }
    </select>
    <button type='submit'>Add</button>
  </form>
  <p><a href="/">Home</a></p>
  else
  {
    <h5>No bands have added this venues.</h5>
  }
