@{
Layout = "_Layout";
}
  <h2>Venue Details</h2>
  <!-- correct["bandVenues"]? -->
  @if (Model["venueBands"].Count != 0)
  {
    <h5 ><strong>@Model["selectedVenue"].GetVenueName()</strong></h5>
    @if (@Model["venueBands"].Count !=0)
    {
      <h4>Bands:</h4>
      <ul>
        @foreach (var band in @Model["venueBands"])
        {
          <li>@band.GetBandName()</li>
        }
      </ul>
    }
  } else
  {
    <h5>No bands have added this venues.</h5>
  }
  <h4> Add band to this venue</h4>
  <form action='/venues/@Model["selectedVenue"].GetId()/' method='post'>
    <label for='band_id>Select a band</label'>
    <select id='band_id' name='band_id' type='text'>
      @foreach (var band in @Model["allBands"])
      {
        <option value='@band.GetId()'>@band.GetBandName()</option>
      }
    </select>
    <button type='submit'>Add</button>
  </form>
  <form action='/venues/delete' method='post'>
    <label for='venue_id'> Delete venue</label>
    <button type='submit'>Delete</button>
  </form>
  <form action='/venues/update' method='post'>
    <label for='venue_id'> Delete venue</label>
    <button type='submit'>Update venue</button>
  </form>
  <p><a href="/">Home</a></p>
