@{
Layout = "_Layout";
}
  <h2>Band Details</h2>
  @if(Model["bandVenues"].Count != 0)
  {
    <h5 ><strong>@Model["selectedBand"].GetBandName()</strong></h5>
    @if (@Model["bandVenues"].Count !=0)
    {
      <h4>Venues:</h4>
      <ul>
        @foreach (var venue in @Model["bandVenues"])
        {
          <li>@venue.GetVenueName()</li>
        }
      </ul>
    }
  }
  else
  {
    <h5>No venues have added this band.</h5>
  }
  <h4> Add band to this venue</h4>
  <form action='/bands/@Model["selectedBand"].GetId()/' method='post'>
    <label for='venue_id'> Select a venue</label>
    <select id='venue_id' name='venue_id' type='text'>
      @foreach (var venue in @Model["allVenues"])
      {
        <option value='@venue.GetId()'>@venue.GetVenueName()</option>
      }
    </select>
    <button type='submit'>Add</button>
  </form>
  <form action='/bands/delete' method='post'>
    <label for='band_id'> Delete Band</label>
    <button type='submit'>Delete</button>
  </form>
  <form action='/bands/update' method='post'>
    <label for='band_id'> Delete Band</label>
    <button type='submit'>Update Band</button>
  </form>
      <p><a href="/">Home</a></p>
